@{
    ViewBag.Title = "Главная страница.";
    Layout = "~/Pages/Shared/_IndexLayout.cshtml";
    ViewBag.css = new string[1] {"mainStyle.css" };
 }

<video loop="" data-object-fit="cover" muted="" autoplay="" playsinline="" poster="" class="fullscreen-bg__video">
    <source src="~/Sporos-15sek-novyy.mp4" type="video/mp4">
</video>
<div class="Info">
    <div class="corpName">SPOROS</div>
    <div class="corpInfo">Спорос – селекционно-семеноводческая компания по производству семян сои категории элита на Дальнем Востоке.</div>
    <div class="buttons">
        <div class="buttonsRow">
            <a id="watchMenuButton" href="#"><p>Посмотреть каталог</p></a>
            <a id="playVideoButton" href="#"></a>
            <div id="Vsplivashka"><p>Видеокролик</p></div>
        </div>
        <a id="watchAdvantageButton" href="#"><p>Преимущества работы с нами</p></a>
    </div>
</div>
<div class="side-info">
    <p>
        Офис Хабаровск:<br>
        Россия, 680000, г. Хабаровск,<br>
        ул. Гоголя,&nbsp;27, офис 601
    </p>
    <p>
        Завод Бикин:<br>
        Россия, 682972, Хабаровский край,<br>
        г. Бикин, ул. Октябрьская, 91
    </p>
    <p>
        Телефон: <a href="tel:+79249302212">+79249302212</a><br>
        E-mail: <a href="mailto:semena@sporos.ag">semena@sporos.ag</a>
    </p>
    <p>
        Отдел кадров:<br>
        Телефон: <a href="tel:+792493022462">+792493022462</a>
    </p>
</div>